<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FilmOpedia</title>
<link rel="stylesheet" href='http://localhost:3000/stylesheets/style.css'>
</head>
<body>
    <div class="header">
        <img src='http://localhost:3000/images/filmOpediafinal.svg' id="logo">
    </div>
    <div class="mainBox" id="contentBox">
            ID: <%= oneMov.id %> <br>
            Name: <%= oneMov.name %> <br>
            Genre: <%= oneMov.genres %> <br>
            Language: <%= oneMov.language %> <br><br><br>
            <% if (oneMov["image"]) { %>
                <img style="border: 1px dashed white" src="<%= oneMov.image.medium %>">
                <% } %>
                
    </div>
    <div class="footer">
        <span class="menu"> <a href="javascript:history.back()" class="menu">→Back to search results</a></span>
        <span class="menu"> <a href="../menu" class="menu">→Back to menu</a></span>
    </div>    
</body>
</html>